<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./CSS/master.css">
</head>

<title>Medium article tracker</title>

  <body>

    <h1>Medium Sparta Global article tracker</h1>

    <ul class="list"> 
      <% @posts.each do |post| %>
        <li><a href <% post['url'] %>> <%= post['title'] %></a></li><br>
        <li><%= post['author_details']['name'] %></li><br>
        <li><%= post['author_details']['bio'] %></li><br>
        <li><%= post['author_details']['avatar_url'] %></li><br>
      <% end %>
    </ul>
 
  </body>

</html>










